@import '../../../styles/settings.scss';

.root {
  background-color: #fff;
}

.superWrapper {
  width: 80%;
  padding: 48px;
  margin: 0 auto;
}

.menuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 0 0 72px 0;
}

.menuLink {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: $lightgreen;
  text-decoration: none;
}

.wrapper {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  align-items: flex-start;
}

.info {
  flex: 2;
  margin: 0;
}

.h3 {
  font-family: 'Comfortaa';
  color: $midgreen;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 12px 0;
}

.h4 {
  font-size: 30px;
  font-weight: 500;
  color: $darkgreen;
  margin: 0 0 30px 0;
}

.h5 {
  font-size: 18px;
  color: #000;
  margin: 0 0 12px 0;
}

.ul {
  list-style-type: none;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  padding: 0;
  margin: 0 0 24px 0;
}

.description {
  flex: 3;
  display: inline-block;
  height: 100%;
  font-size: 24px;
  color: $darkestgreen;
  margin: 0;
}

.productGallery {
 display: flex;
 flex-wrap: wrap;
 margin: 24px 0;
}

.productImg {
 width: 25%;
 height: auto;
 object-fit: cover;
}

.amountSelect {
  width: 60px;
  height: 36px;
  margin: 12px 0 3px 0;
  font-size: 18px;
  padding: 0 6px;
  border: $lightgreen 1px solid;
  border-radius: 3px;
}

.addLink {
  width: fit-content;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: $lightgreen;
  margin: 6px 0 24px 0;
  padding: 0;
  border: none;
  background: none;
}

.addLink:hover {
  cursor: pointer;
}

/* Media */
@media (max-width: 991px) {
  .root {
    width: 100%;
    padding: 24px;
  }
  .wrapper {
    max-width: 100%;
  }
  .text {
    flex-direction: column;
  }
  .info {
    width: 100%;
  }
  .productImg {
    width: 50%;
    height: 100%;
  }
}
