@import '../../../styles/settings.scss';

.productRoot {
  width: 80%;
  height: 100%;
  padding: 48px;
  margin: 0 auto;
  background-color: #fff;
}

.productMenuwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 0 0 72px 0;
}

.productMenulink {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: $lightgreen;
  text-decoration: none;
}

.productProductwrapper {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.productProducttext {
  display: flex;
  align-items: flex-start;
}

.productInfo {
  flex: 2;
  margin: 0;
}

.productH3 {
  font-family: 'Comfortaa';
  color: $midgreen;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 12px 0;
}

.productH4 {
  font-size: 30px;
  font-weight: 500;
  color: $darkgreen;
  margin: 0 0 30px 0;
}

.productH5 {
  font-size: 18px;
  color: #000;
  margin: 0 0 12px 0;
}

.productUL {
  list-style-type: none;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  padding: 0;
  margin: 0 0 24px 0;
}

.productDescription {
  flex: 3;
  display: inline-block;
  height: 100%;
  font-size: 24px;
  color: $darkestgreen;
  margin: 0;
}

.productProductgallery {
 display: flex;
 flex-wrap: wrap;
 margin: 24px 0;
}

.productProductimg {
 width: 25%;
 height: 250px;
 object-fit: cover;
}

.productAmountselect {
  width: 60px;
  height: 36px;
  margin: 12px 0 3px 0;
  font-size: 18px;
  padding: 0 6px;
  border: $lightgreen 1px solid;
  border-radius: 3px;
}

.productAddlink {
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: $lightgreen;
  margin: 6px 0 24px 0;
}

/* Media */
@media (max-width: 991px) {
  .productRoot {
    width: 100%;
    padding: 24px;
  }
  .productProductwrapper {
    max-width: 100%;
  }
  .productProducttext {
    flex-direction: column;
  }
  .productInfo {
    width: 100%;
  }
  .productProductimg {
    width: 50%;
    height: 100%;
  }
}
