@import '../../../styles/settings.scss';

.root {
  background-color: #E3D876;
  padding: 72px;
  display: flex;
  flex-direction: column;
}

.header2 {
  color: #fff;
  margin: 0;
}

.wrapper {
 background-color: blueviolet;
}
