@import '../../../styles/settings.scss';

.productlistRoot {
  background-color: #E3D876;
  padding: 72px;
  display: flex;
  flex-direction: column;
}

.productlistCart {
  margin: 0 0 24px 0;
  text-align: right;
}

.productlistIcon {
  font-size: 24px;
  color: $midgreen;
}

.productlistH2 {
  color: #fff;
  margin: 0 0 24px 0;
}

.productlistGallerywrapper {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.productlistGallerylink {
  position: relative;
  width: 25%;
  margin: 0;
  padding: 0;
}

// .productlistGalleryelem {
//   position: relative;
//   width: 33.3333%;
//   margin: 0;
//   padding: 0;
// }

.productlistProductimg {
  width: 100%;
  // height: auto;
  opacity: 1;
  display: block;
}

.productlistGalleryelem:hover .productlistProductimg {
  opacity: 0.2;
}

.productlistProductinfo {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Comfortaa';
  color: #5E5715;
}

.productlistH3 {
  font-size: 48px;
  font-weight: 700;
  color: $darkestgreen;
}

.productlistPrice {
  font-size: 36px;
}

.productlistGalleryelem:hover .productlistProductinfo {
  opacity: 1;
}


/* Media */
@media (max-width: 767px) {
  .productlistRoot {
    padding: 48px 36px;
  }
  .productlistGallerywrapper {
    flex-direction: row;
    flex-flow: wrap;
  }
  .productlistGallerylink {
    width: 50%;
  }
  .productlistH3 {
    font-size: 24px;
  }
  .productlistPrice {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .productlistH3 {
    font-size: 24px;
  }
  .productlistPrice {
    font-size: 18px;
  }
}
