@import '../../../styles/settings.scss';

.root {
  background-color: #E3D876;
  padding: 72px;
  display: flex;
  flex-direction: column;
}

.cart {
  margin: 0 0 24px 0;
  text-align: right;
}

.menuLink {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  color: $midgreen;
  text-decoration: none;
}

.menuIcon {
  margin: 0 3px;
  font-size: 24px;
}

.amount {
  font-weight: 600;
  margin: 0;
}

.h2 {
  color: #fff;
  margin: 0 0 24px 0;
}

.galleryWrapper {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.galleryLink {
  position: relative;
  width: 25%;
  margin: 0;
  padding: 0;
}

.productImg {
  width: 100%;
  opacity: 1;
  display: block;
}

.galleryElem:hover .productImg {
  opacity: 0.2;
}

.productInfo {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Comfortaa';
  color: #5E5715;
}

.h3 {
  font-size: 42px;
  font-weight: 700;
  color: $darkestgreen;
  margin: 0 0 24px 0;
}

.price {
  font-size: 36px;
}

.galleryElem:hover .productInfo {
  opacity: 1;
}

/* Media */
@media (max-width: 767px) {
  .root {
    padding: 48px 36px;
  }
  .galleryWrapper {
    flex-direction: row;
    flex-flow: wrap;
  }
  .galleryLink {
    width: 50%;
  }
  .h3 {
    font-size: 24px;
  }
  .price {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .h3 {
    font-size: 24px;
  }
  .price {
    font-size: 18px;
  }
}
