@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$lightgreen: #E3D876;
$midgreen: #AB9E26;
$darkgreen: #5E5A31;
$darkestgreen: #5E5715;

h2 {
  font-family: 'Comfortaa';
  font-size: 48px;
  font-weight: 700;
}

body {
  font-family: 'Open Sans', sans-serif;
}
