@import '../../../styles/settings.scss';

.root {
  background-color: $darkgreen;
}

.superWrapper {
  width: 80%;
  padding: 48px;
  margin: 0 auto;
}

.menuWrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin: 0 0 72px 0;
}

.menuLink {
  font-size: 18px;
  font-weight: 600;
  color: $midgreen;
  text-decoration: none;
}

.dataWrapper {
  max-width: 85%;
  margin: 0 auto;
}

.cartSummary {
  margin: 0 0 36px 0;
}

.h4 {
  font-family: 'Comfortaa';
  font-size: 30px;
  font-weight: 500;
  color: $lightgreen;
  margin: 0 0 12px 0;
}

.itemDetails {
  background-color: $darkestgreen;
  width: 100%;
  font-size: 15px;
  color: #fff;
  border: 0;
  border-collapse: collapse;
}

.tr {
 border-bottom: $darkgreen 6px solid;
 display: flex;
 justify-content: center;
 align-items: center;
}

.td {
  height: 48px;
  text-align: center;
  padding: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemImg {
  width: 100%;
  height: 60px;
  object-fit: cover;
  display: block;
  margin: 0;
}

.preSum {
  display: block;
  width: 100%;
  font-size: 15px;
  text-align: right;
  color: $midgreen;
  margin: 6px 0;
}

.sum {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  color: $midgreen;
  margin: 6px 0 24px 0;
}

// .formWrapper {
// }

.h3 {
  font-family: 'Comfortaa';
  color: $lightgreen;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 12px 0;
}

.orderForm {
 display: flex;
 flex-direction: column;
}

.input {
  width: 40%;
  height: 36px;
  padding: 6px;
  border: none;
  border-radius: 3px;
  background-color: $midgreen;
  font-family: 'Open Sans';
  font-size: 12px;
  color: #fff;
  margin: 3px 0;
}

.submitLink {
  width: fit-content;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  margin: 6px 0 24px 0;
  padding: 0;
  border: none;
  background: none;
}

.submitLink:hover {
  cursor: pointer;
}

/* Media */
@media (max-width: 991px) {
  .superWrapper {
    width: 100%;
    padding: 24px;
  }
  .dataWrapper{
    max-width: 100%;
  }
  .input {
    width: 80%;
  }
}
