@import '../../../styles/settings.scss';

.root {
  padding: 72px;
  display: flex;
  flex-direction: row;
}

.h2 {
  color: #AB9E26;
  margin: 0 96px 24px 0;
}

.about {
  margin: 0;
  max-width: 65%;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 500;
  color: #5E5715;
}

/* Media */
@media (max-width: 767px) {
  .root {
    flex-direction: column;
    padding: 48px 36px;
  }
  .about {
    max-width: 100%;
  }
}
