@import '../../../styles/settings.scss';

.root {
  background-color: #fff;
  padding: 72px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header2 {
  color: #AB9E26;
  margin: 0 96px 24px 0;
}

.about {
  margin: 0;
  max-width: 65%;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 500;
  color: #5E5715;
}
